# Dependabot will run on day 13 of each month at 01:24 (Europe/Berlin timezone)
version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 15
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "24 1 13 * *"
  - package-ecosystem: "npm"
    directory: "/"
    open-pull-requests-limit: 15
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "24 1 13 * *"
